<button
        class="btn btn-primary mb-3"
        (click)="init()"
>Refresh</button>
<div class="row" *ngIf="loans$ | async as loans">
    <div *ngFor="let loan of loans" class="col-lg-6">
        <div class="card mb-3">
            <h4 class="card-header">
                {{loan.copyId}}
            </h4>
            <div class="card-body">
                <h5 class="card-title">Borrower</h5>
                <p class="card-text">{{loan.userId}}</p>
                <h5 class="card-title" *ngIf="loan.loanDate">
                    Loan date
                </h5>
                <p class="card-text" *ngIf="loan.loanDate">
                    {{loan.loanDate}}
                </p>
                <a class="btn btn-outline-primary"
                   (click)="unloan(loan.id)">
                    Done borrowing
                </a>
            </div>
        </div>
    </div>
</div>
